.sidebar{
    width: 400px;
    height: 1000px;
    background-color: #2d353c;
}

@media (max-width: 600px) {
    .toolbar{
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sidebar-container{
        width: 130%;
        display: flex;
        transform: translateX(-38%);
    }
}

.open-nav{
    transform: translateX(0px);
}
